@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');

body {
	display: block;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	background-color: white;
	margin: 0;
}

header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	min-height: 75px;
	background-color:#A8D5E2;
	border-bottom: solid 1px #ccc;
}

.title {
	display: flex;
	letter-spacing: 1px;
}

.full-title {
	display: flex;
}

/* Hide shortened title */
.short-title {
	display: none;
}

#logo {
	margin: 0;
	height: 50px;
	width: auto;
	display: inline;
}

nav {
	width: 40vw;
	height: 100%;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-inline-start: 0;
}

nav a {
	text-decoration: none;
	padding: 0.5vh 1vw; 
	font-family: 'Nanum Gothic', sans-serif;
	height: 40%;
	line-height: 40%;
}

p {
	margin: 5vh auto;
	font-family: 'Nanum Gothic', sans-serif;
}

main {
	position: absolute;
	left: 0;
	right: 0;
	margin: 5vh auto;
	width: 50vw;
	height: 100vh;
	background-color: white;
	border-radius: 10px;
}

form {
	width: 50vw;
	margin: 5vh auto 1vh auto;
	padding: 30px;
	text-align: left;
	background-color: #A8D5E2;
	border-radius: 35px;
}

[type="checkbox"]
{
	-webkit-appearance:none;
	width: 2em;
	height: 2em;
  background: white;
  border-radius:5px;
	border:2px solid #555;
	vertical-align: middle;
	cursor: pointer;
}

[type="checkbox"]:hover, #submit:hover, .yes:hover, .no:hover {
	background: #3d5a80;
	transition: 0.4s;
	color: white;
}

[type="checkbox"]:checked {
	background: #3d5a80;
}

#submit {
	background-color: #e0fbfc;
	font-size: 1.2rem;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
}

#submit-container {
	padding-top: 2vh;
	text-align: center;
	margin-bottom: 50px;
}

button {
	font-family: 'Nanum Gothic', sans-serif;
	background-color: #e0fbfc;;
	font-size: 1rem;
	border-radius: 10px;
	padding: 5px;
	margin: 5px auto;
	cursor: pointer;
}

.follow-up {
	text-align: center;
}

.reed {
	margin: 10vh auto;
	height: 200px;
	width: auto;
}

.get-started {
	margin: 15px;
	padding: 15px 25px;
	display: inline-flex;
	border-radius: 4px;
	background-color: #a8d5e2;
}

a {
	color: black;
	text-decoration: none;
}

ul {
	font-family: 'Nanum Gothic', sans-serif;
	text-align: left;
}

li {
	margin: 2vh auto;
}

.get-started:hover {
	transition: 0.3s;
	background-color: #85C5D6;
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.10), 0 10px 50px 0 rgba(0,0,0,0.19);
}

#reed-solutions {
	display: none;
}

footer {
	position: fixed;
	padding: 5px;
	text-align: center;
	bottom: 0;
	width: 100%;
	background-color: #A8D5E2;
	font-size: .8rem;
	font-family: 'Nanum Gothic', sans-serif;
}

@media only screen and (max-width: 736px) {
	body {
		min-width: 300px;
	}

	nav {
		width: 100%;
		justify-content: space-evenly;
		padding-inline-start: 0;
	}
}



@media only screen and (max-width: 450px) {
	#logo {
		display: none;
	}

	#title {
		font-size: 1.7rem;
	}

	nav {
		margin: 1vh auto 3vh auto;
		width: 100%;
		font-size: 1.1rem;
		justify-content: space-evenly;
		padding-inline-start: 0;
	}
}