{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block main %}
<div>
    <h2>The world's first online bassoon reed trouble-shooter.</h2>
    <p>
    This tool is intended to help you adjust and finish reeds. It assumes that you are already working on a formed and cut bassoon reed.
    </p>
</div>
<a href="/trouble-shooter" class="get-started">Get Started</a>
<div>
    <img src="../static/reed-images/Reed_Template.png" alt="Illustration of a bassoon reed with blue thread" class="reed">
</div>
{% endblock %}