{% extends "layout.html" %}

{% block title %}
    Sources
{% endblock %}
{% block main %}
    <h1>Sources</h1>
    <p>I consulted a few reputable reed-making resources to gather the information used in this reed-making trouble-shooter:</p>
    <ul>
        <li>Davidsson, Christian. “Reed Adjusting.” REED BALANCING, 1996, <a href="www.canit.se/~chrisdav/reedadj.html">www.canit.se/~chrisdav/reedadj.html</a>.</li>
        <li>Popkin, Mark, and Loren Glickman. Bassoon Reed Making. Charles Double Reed Co., 2013.</li>
        <li>Petrie, Matthew. “How to Adjust Bassoon Reeds.” Crook and Staple (US), <a href="us.crookandstaple.com/pages/how-to-adjust-bassoon-reeds">us.crookandstaple.com/pages/how-to-adjust-bassoon-reeds</a>.</li>
    </ul>
{% endblock %}